---
---

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Roboto:wght@300;400;500&display=swap');



:root {
	color-scheme: light dark;
	--base-color-text: #4a5365;
	--content-background-color: #fcfcfc;
	--link-color: #8cf;
	--link-color-hover: #9df;
	--link-color-active: #6ad;
	--link-color-visited: #cb99f6;
}
@media (prefers-color-scheme: dark) {
	:root {
		--content-background-color: #2e3236;
		--base-color-text: #eff1f5;
	}
}

// small reset
html, body {
	margin: 0;
	padding: 0;
	background: #202326;
}
* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
	max-width: 1200px;
	margin: 0 auto;
}


img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
	text-decoration: none;
	&:hover {
		color: var(--link-color-hover);
	}
	&:active {
		color: var(--link-color-active);
	}
	&:visited {
		color: var(--link-color-visited);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

p {
	font-size: 16px;
	line-height: 25px;
}


.content {
	display: grid;
	grid-template-columns: 320px calc(100% - 320px);
	max-width: 100%;

	aside {
		background: #25282b;
		padding: 1em;
		form input {
			background-color: #333537;
			color: var(--base-color-text);
			border: 2px solid transparent;
			box-shadow: none;
			transition: none;
			font-size: 14px;
			border-radius: 50px;
  		padding: 6px 12px;
			margin-bottom: 20px;
			width: 100%;
		}
		ul {
			// follow scroll
			list-style: none;
			padding: 0;
			position: sticky;
			top: 30px;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
	
	main {
		padding: 30px;
		background: var(--content-background-color);

		img {
			margin: 10px auto;
		}
	}
}

pre {
  background: #272525;
  color: white;
  padding: 17px;
	font-family: 'JetBrains Mono', monospace;
	max-width: 100%;
	overflow: scroll;
	display: block;
	border-radius: 7px;
  box-shadow: 0 14px 10px -17px #595959;
	span {
		font-family: 'JetBrains Mono', monospace;
	}
}

code.highlighter-rouge {
	font-family: "JetBrains Mono", monospace;
	color: #d68f8f;
  font-weight: 600;
	font-size: 14px;
  background-color: #22252d;
  border: none;
  border-radius: 4px;
  padding: 1px 5px;
}

code {
	.k, .ow {
		color: #ff4381;
	}
	.nf {
		color: #4bccff;
	}
	.s2, .s1 {
		color: #ffff3d;
	}
	.kt {
		color: #7eff7e;
	}
	.c1 {
		color: gray;
	}
}

header {
	background-color: #2980b9;
	h1 {
		padding: 14px;
		margin: 0;
		color: white;
		font-size: 22px;
		display: inline-block;
	}
	nav {
		display: inline-block;
		a, a:visited, a:hover, a:active {
			color: white;
			text-decoration: none;
		}
	}
}

footer {
	background-color: #333639;
	padding: 30px;
	p {
		padding: 0;
		margin: 0;
		color: white;
	}
}

// Anchors

.anchored-link {
	display: none;
	background-image: url(/assets/icons/link.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	text-decoration: none;
	margin-left: 10px;
	vertical-align: middle;
	width: 0.8em;
	height: 0.8em;
	max-width: 24px;
	max-height: 24px;
}
.anchored-link:hover {
	opacity: 0.9;
}

@media (prefers-color-scheme: dark) {
	.anchored-link {
			filter: invert(1);
	}
	.anchored-link:hover {
			filter: invert(1);
	}
}

.anchored:hover .anchored-link {
	display: inline-block;
}

.anchored-toast {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: green;
	border-radius: 24px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 18px;
	text-align: center;
	z-index: 100;
}
