---
---

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// small reset
html, body {
	margin: 0;
	padding: 0;
	background: #272525;
}
* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}


img {
	display: block;
	max-width: 100%;
	height: auto;
}

.content {
	display: grid;
	grid-template-columns: 320px calc(100% - 320px);
	max-width: 100%;

	aside {
		background: #343131;
		padding: 1em;
		ul {
			// follow scroll
			position: sticky;
			top: 30px;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
	
	main {
		padding: 30px;
		background: white;
	}
}

pre {
  background: #272525;
  color: white;
  padding: 17px;
	font-family: 'JetBrains Mono', monospace;
	max-width: 100%;
	overflow: scroll;
	display: block;
	border-radius: 7px;
  box-shadow: 0 14px 10px -17px #595959;
	span {
		font-family: 'JetBrains Mono', monospace;
	}
}

code.highlighter-rouge {
	font-family: "JetBrains Mono", monospace;
  background: #d9d9d9;
  color: black;
  padding: 1px 5px;
  border-radius: 6px;
	font-weight: bold;
}

code {
	.k, .ow {
		color: #ff4381;
	}
	.nf {
		color: #4bccff;
	}
	.s2, .s1 {
		color: #ffff3d;
	}
	.kt {
		color: #7eff7e;
	}
	.c1 {
		color: gray;
	}
}

header {
	background-color: #2980b9;
	h1 {
		padding: 14px;
		margin: 0;
		color: white;
		font-size: 22px;
		display: inline-block;
	}
	nav {
		display: inline-block;
		a {
			color: white;
			text-decoration: none;
		}
	}
}

footer {
	background-color: #272525;
	padding: 30px;
	p {
		padding: 0;
		margin: 0;
		color: white;
	}
}

// Anchors

.anchored-link {
	display: none;
	background-image: url(/assets/icons/link.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	text-decoration: none;
	margin-left: 10px;
	vertical-align: middle;
	width: 0.8em;
	height: 0.8em;
	max-width: 24px;
	max-height: 24px;
}
.anchored-link:hover {
	opacity: 0.9;
}

@media (prefers-color-scheme: light) {
	.anchored-link {
			filter: invert(1);
	}
	.anchored-link:hover {
			filter: invert(1);
	}
}

.anchored:hover .anchored-link {
	display: inline-block;
}

.anchored-toast {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: green;
	border-radius: 24px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 18px;
	text-align: center;
	z-index: 100;
}
